In [14]:
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "./Resources/schools_complete.csv"
student_data_to_load = "./Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [22]:
#confirm columns
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [250]:
District Summary

#calculation of total students, total budget, total schools, Avg Math score, Avg reading score, 
total_students = len(school_data_complete["student_name"])
total_budget = school_data_complete["budget"].sum()
total_schools = len(school_data_complete["school_name"].unique())
avg_mathscore = school_data_complete["math_score"].mean()
avg_reading = school_data_complete["reading_score"].mean()
math_passers = len(school_data_complete[school_data_complete.math_score > 70])
read_passers = len(school_data_complete[school_data_complete.reading_score > 70])
math_pass_pct = (math_passers/total_students) *100
read_pass_pct = (read_passers/total_students) *100
     
passing_math_reading = len(school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)])
passing_math_reading_pct = (passing_math_reading/total_students)*100 

# schoolgroup_data["% Passing Math"]= math_pass_pct
# schoolgroup_data["% Passing Reading"]= read_pass_pct
#schoolgroup_data["% Overall Passing"]= passing_math_reading_pct

passing_math_reading_pct

65.17232575950983

In [252]:
#school summary section

schoolgroup_types = school_data_complete.set_index(['school_name'])["type"]

schoolgroup_data = pd.DataFrame(schoolgroup_types)
schoolgroup_data = pd.DataFrame({"School Type": schoolgroup_types})

#total students
schoolgroup_counts = school_data_complete['school_name'].value_counts()

#total school budget
schoolgroup_budget = school_data_complete.set_index(['school_name'])["budget"]



#per student spending
schoolgroup_psbudget = schoolgroup_budget/schoolgroup_counts

#passing scores by school

schoolgroup_mathscore = school_data_complete[(school_data_complete["math_score"]>70)]

schoolgroup_readingscore = school_data_complete[(school_data_complete["reading_score"]>70)]

#passing students and percentages
schoolgroup_mathscore = schoolgroup_mathscore.groupby(["school_name"]).count()["student_name"]
schoolgroup_readingscore = schoolgroup_readingscore.groupby(["school_name"]).count()["student_name"]

#average scores by school
schoolgroup_mathavg = schoolgroup_mathscore/schoolgroup_counts*100
schoolgroup_readingavg = schoolgroup_readingscore/schoolgroup_counts*100

#overall passing
schoolgroup_bothpass = school_data_complete[(school_data_complete['reading_score']>70)&(school_data_complete['math_score']>70)]

schoolgroup_summary = school_data_complete.groupby(['school_name'])



schoolgroup_summary

In [ ]:
#Top performing scchool section